<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="lead">SHOES UPLOADS</h1>
                        <p class="lead">Publica tus calzados que usastes en temporadas anteriores</p>
                        <a href="/users/signup" class="btn-input">Comerzar :)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="content-grid-zapatos">
        <div class="relative">
            <div class="box-grid-img"><img src="/img/grid-1.jpg" alt="" class="grid-img"></div>

            <div class="position-middle fondo-plate">
                <h2 class="title-grid">Title</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                <a href="" class="btn-grid">A otra Pagina</a>
            </div>
        </div>
        <div class="relative">
            <div class="box-grid-img"><img src="/img/grid-2.jpg" alt="" class="grid-img"></div>

            <div class="position-middle fondo-plate">
                <h2 class="title-grid">Title</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                <a href="" class="btn-grid">A otra Pagina</a>
            </div>
        </div>
        <div class="relative">
            <div class="box-grid-img"><img src="/img/grid-3.jpg" alt="" class="grid-img"></div>

            <div class="position-middle fondo-plate">
                <h2 class="title-grid">Title</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                <a href="" class="btn-grid">A otra Pagina</a>
            </div>
        </div>
        <div class="relative">
            <div class="box-grid-img"><img src="/img/grid-4.jpg" alt="" class="grid-img"></div>

            <div class="position-middle fondo-plate">
                <h2 class="title-grid">Title</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error optio alias voluptas.</p>
                <a href="" class="btn-grid">A otra Pagina</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="my-5">Galeria de Imagenes</h2>
        <div class="row">
            <div class="content-grid-galery">
                <div class="box-img"><img src="/img/galeria1.jpg" alt="" class="imagen-galery"></div>
                <div class="box-img"><img src="/img/galeria2.jpg" alt="" class="imagen-galery"></div>
                <div class="box-img"><img src="/img/galeria3.jpg" alt="" class="imagen-galery"></div>
                <div class="box-img"><img src="/img/galeria4.jpg" alt="" class="imagen-galery"></div>
            </div>
        </div>
    </div>
    <div class="content-zapato centrar">
        <img src="/img/close.svg" alt="" class="close">
        <img src="" alt="" class="agregar-imagen">
    </div>
</section>