<footer class="footer bg-dark p-5 text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 centrar">
              <p>Enlaces Externos</p>
              <a href="/" class="btn-input my-1">Otra Pagina</a>
              <a href="/" class="btn-input my-1">Otra Pagina</a>
              <a href="/" class="btn-input my-1">Otra Pagina</a>
            </div>
            <div class="col-md-4 centrar">
                <ul>
                    <li><a href="/" class="red"><i class='bx bxl-facebook-square'></i></a></li>
                    <li><a href="/" class="red"><i class='bx bxl-youtube' ></i></a></li>
                    <li><a href="/" class="red"><i class='bx bxl-instagram-alt' ></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 centrar"><h4>Fecha</h4> <p>17 de Enero del 2021</p></div>
        </div>
    </div>
</footer>