<!--ALERT CORRECTAS-->
{{#if message_success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>ALERT: </strong> {{message_success}} <i class='bx bxs-happy-beaming' ></i>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
