<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
               <div class="card">
                   <div class="card-body">
                       <h2 class="text-center">Hora de comezar : {{user.nombre}}</h2>
                       <a href="/shoe/form" class="btn-input">Quiero Publicar</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>